<h1 mat-dialog-title>
  Edit Course
  <mat-icon>mode_edit</mat-icon>
</h1>
<div mat-dialog-content class="edit-course__container">
  <mat-form-field>
    <input matInput [(ngModel)]="editCourseRequestData.title" placeholder="Enter or edit title">
    <mat-icon matSuffix>video_label</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="editCourseRequestData.subtitle" placeholder="Enter or edit subtitle">
    <mat-icon matSuffix>subtitles</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="editCourseRequestData.description" placeholder="Enter or edit description">
    <mat-icon matSuffix>web</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="editCourseRequestData.avatar" placeholder="Enter or edit avatar">
    <mat-icon matSuffix class="tooltip">
      <div *ngIf="editCourseRequestData.avatar==''">
        account_circle
      </div>
      <div *ngIf="editCourseRequestData.avatar!=''">
        <img src="{{editCourseRequestData.avatar}}" class="avatar__holder">
        <span class="round">
          <img class="tooltip-image round" src="{{editCourseRequestData.avatar}}" />
        </span>
      </div>
    </mat-icon>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="editCourseRequestData.thumbnail" placeholder="Enter or edit thumbnail">
    <mat-icon matSuffix class="tooltip">
      <div *ngIf="editCourseRequestData.thumbnail==''">
        image
      </div>
      <div *ngIf="editCourseRequestData.thumbnail!=''">
        <img src="{{editCourseRequestData.thumbnail}}" class="thumbnail__holder">
        <span>
          <img class="tooltip-image" src="{{editCourseRequestData.thumbnail}}" />
        </span>
      </div>
    </mat-icon>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onOkClick()" cdkFocusInitial>OK</button>
</div>
