::-webkit-media-controls {
  display: none !important;
}

#player {
  width: 100%;
  height: 100%;
}

.media-control__container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  line-height: 18px;
  /*        background-color: rgba(0, 0, 0, 0.6);*/
  color: red;
}

.seekbar__container {
  width: 98vw;
  display: inline-block;
  position: absolute;
  color: #fff;
  text-align: center;
  left: 48%;
  transform: translate(-50%, -50%);
}

.slidecontainer {
  width: 91%;
  display: inline-block;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 50px;
  background: #818181;
  outline: none;
  /* opacity: 0.7; */
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider:hover {
  height: 20px;
  /* transform: scaleY(1.2); */
  /* opacity: 1; */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) 
and -moz- (Firefox) to override default look) */

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  /* background: #4CAF50; */
  /* border: 1px solid #3f51b5; */
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  /* background: #4CAF50; */
  /* border: 1px solid #3f51b5; */
  background: white;
  cursor: pointer;
}

.slider:hover::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* background: #4CAF50; */
  border: 1px solid #3f51b5;
  background: white;
  cursor: pointer;
}

.slider:hover::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #3f51b5;
  /* background: #4CAF50; */
  background: white;
  cursor: pointer;
}

#seekbarTimer {
  display: inline-block;
  color: aliceblue;
  font-size: large;
  font-weight: 800;
  text-shadow: 2px 2px grey;
}

.controls {
  margin: 10 0;
  padding-left: 50px;
  padding-top: 25px;
  padding-bottom: 10px;
  position: relative;
  margin-top: 10px;
}

.btn__play-pause,
.btn__rewind,
.btn__forward,
.btn__fullScreen,
.playback__rate {
  padding: 0px 10px;
  /* color: darkslategray; */
  cursor: pointer;
  margin: 0 25px;
  /* width: 80px; */
  /* transform: scale(1.8); */
  display: inline-block;
  /* border: 1px solid black; */
  border-radius: 100%;
}

.btn__fullScreen {
  position: absolute;
  right: 80px;
}

.playback__rate .mat-raised-button {
  padding: 0;
  margin: 0;
}

.playback__rate .mat-raised-button.mat-primary {
  margin: 0;
  width: 50px;
  padding: 0;
}

.playback__rate .mat-raised-button {
  min-width: 50% !important;
  margin: 0;
  padding: 0;
}

/* 
.playback__rate {
  width: 45px;
  height: 24px;
  margin: 10px;
  line-height: 2em;
  position: relative;
  font-size: 1em;
  font-weight: 900;
  text-shadow: none;
  text-align: center;
  visibility: middle;
  border-radius: 10%;
  color: #29303b;
  background-color: grey;
  display: inline-block;
  padding: 5px;
  z-index: 10;
  cursor: pointer;
} */

video {
  z-index: 0;
  display: block;
  object-fit: fill;
  height: 81vh;
}

.fadeout__controls {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 2s ease-out 0s;
  -moz-transition: all 2s ease-out 0s;
  -ms-transition: all 2s ease-out 0s;
  -o-transition: all 2s ease-out 0s;
  transition: visibility 0s 2s, opacity 2s linear;
  cursor: none;
}

/* @keyframes fadeOut {
    0% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
} */

.fadeout__action {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 2s ease-out 0s;
  -moz-transition: all 2s ease-out 0s;
  -ms-transition: all 2s ease-out 0s;
  -o-transition: all 2s ease-out 0s;
  transition: visibility 0s 2s, opacity 2s linear;
}

.controls__more {
  display: inline-block;
}

.toggle__playlist {
  position: absolute;
  left: 5em;
  transform: scale(1.2);
}

.toggle__playlist__close {
  position: absolute;
  left: 35em;
  transform: scale(1.2);
}

.navigate__dashboard {
  position: absolute;
  right: 5em;
  transform: scale(1.2);
}

.control__action-container {
  position: fixed;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
}

.control__action {
  transform: scale(4);
}

.hide {
  display: none;
}

.video__fullscreen--maxheight {
  height: 100vh;
  width: 100vw;
}
