::-webkit-media-controls {
    display: none !important;
}

#player {
    width: 100%;
    height: 100%;
}

.media-control__container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    line-height: 18px;
    /*        background-color: rgba(0, 0, 0, 0.6);*/
    color: red;
}

.seekbar__container {
    width: 98vw;
    display: inline-block;
    position: absolute;
    color: #fff;
    text-align: center;
    left: 48%;
    transform: translate(-50%, -50%);
}

#seekbar {
    cursor: pointer;
    height: 10px;
    /*        margin-bottom: 40px;*/
    border: thin solid grey;
    background-color: grey;
    overflow: hidden;
    position: relative;
    width: 90%;
    vertical-align: middle;
    border-radius: 100px;
    display: inline-block;
}

#seekbar span {
    background-color: orangered;
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 0px;
    border-radius: 50px;
}

#seekbarTimer {
    display: inline-block;
    color: aliceblue;
    font-size: large;
    font-weight: 800;
    text-shadow: 2px 2px grey;
}

.controls {
    margin: 10 0 10 0;
}

.btn__play-pause,
.btn__rewind,
.btn__forward,
.btn__fullScreen {
    padding: 15px;
    color: darkslategray;
    z-index: 10;
    cursor: pointer;
    width: 40px;
    transform: scale(1.8);
    display: inline-block;
}

.playback__rate {
    width: 45px;
    height: 24px;
    margin: 10px;
    line-height: 2em;
    position: relative;
    font-size: 1em;
    font-weight: 900;
    text-shadow: none;
    text-align: center;
    visibility: middle;
    border-radius: 10%;
    color: #29303b;
    background-color: grey;
    display: inline-block;
    padding: 5px;
    z-index: 10;
    cursor: pointer;
}

video {
    z-index: 0;
    display: block;
    object-fit: fill;
    height: 91vh;
}

.fadeout {
    animation: fadeOut 3s linear;
    display: none;
    cursor: none;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.playlist__toggler {
    transform: scale(2);
    padding: 20px;
    position: fixed;
    left: 19em;
    top: 0;
    z-index: 10001;
    color: white;
    cursor: pointer;
}

.hide {
    display: none;
}

.video__fullscreen--maxheight {
    height: 100vh;
    width: 100vw;
}