<div id="videoPlayerContainer">
  <div class='media-control__container'>
    <div class="seekbar__container">
      <div id="seekbar">
        <span></span>
      </div>
      <div id="seekbarTimer"></div>
    </div>
    <div class="controls">
      <div id="btnPlayPause" class="btn__play-pause" (click)="togglePlayOrPause()">
        <mat-icon id="iconPlayPause" matSuffix>play_arrow</mat-icon>
      </div>
      <div id="btnPullTimerBack" class="btn__rewind" (click)="rewindCurrentTime()">
        <mat-icon matSuffix>replay_5</mat-icon>
      </div>
      <div class="playback__rate" id="playBackSpeedBtn">1.5</div>
      <div id="btnPullTimerForward" class="btn__forward" (click)="forwardCurrentTime()">
        <mat-icon matSuffix>forward_5</mat-icon>
      </div>
      <div id="btnFullScreen" class="btn__fullScreen" (click)="toggleFullScreen()">
        <mat-icon id="iconFullScreen" matSuffix>fullscreen</mat-icon>
      </div>
    </div>
  </div>
  <div>
    <mat-icon class="playlist__toggler" (click)="togglePlayList()">playlist_play</mat-icon>
  </div>
  <app-playlist class="app-playlist" [playList]="playList" (onVideoSelection)="initPlaying($event)"></app-playlist>
  <video id="videoPlayer" width="100%" height="100%" autoplay>Your browser does not support the video tag. </video>
</div>
