<div id="container">
  <div class='logo'>
    <div class="control-container">
      <div id="custom-seekbar">
        <span></span>
      </div>
      <div id="timer"></div>
    </div>
    <div>
      <mat-icon class="playlist__toggler" (click)="togglePlayList()">playlist_play</mat-icon>
    </div>
    <div class="controls">
      <div id="btnPlayPause" class="btn-play-pause" (click)="togglePlayOrPause()">
        <mat-icon matSuffix id="iconPlayPause">play_arrow</mat-icon>
      </div>
      <div id="btnFS" class="btn-fs" (click)="goFullScreen()">
        <mat-icon matSuffix>zoom_out_map</mat-icon>
      </div>
      <div class="playback-rate-value" id="playBackSpeedBtn">1.5</div>
    </div>
  </div>
  <app-playlist class="app-playlist" [playList]="playList" (onVideoSelection)="play($event)"></app-playlist>
  <video id="videoPlayer" width="100%" height="100%" autoplay>Your browser does not support the video tag. </video>
  <!-- <ul class="playList"></ul> -->
</div>
