.hide {
  display: none;
}

.playlist-content {
  &:hover {
      background-color: rgba(204, 204, 204,0.3);
  }
  cursor: pointer;
  &*{
    pointer-events: none;
  }
}

.playlist-item {
  margin: 0 5px;
  display: flex;
}

.highlight-item {
  background-color: #d4e9ee
}

.side-bar {
  position: absolute;
  top: 55px;
  left: 0px;
  z-index: 4;
  overflow: auto;
}

.side-bar-r {
  position: absolute;
  top: 55px;
  right: 0px;
  z-index: 4;
  margin-top:200px;
}

.playlist {
  &.collapse {
    display: none;
    width: 0px;
    height: 70vh;
  }

  &.expand {
    display: '';
    width: 400px;
    height: 93vh;
    background: #eee;
  }
}



.collapse-btn {
  margin-top:200px;
  opacity: 0.1;
  &:hover{
    opacity: 1;
  }
}
