.course__container {
    margin: 10px 15px;
    display: inline-block;
    vertical-align: top;
  }
  
  .course__container:hover {
    -webkit-box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.4);
    transition: 0.5s all;
    transform: scale(1.03);
  }
  
  
  .mat-menu-primary:hover {
    background: #3f51b5;
    color: #ffffff;
  }
  
  .mat-menu-danger:hover {
    background: red;
    color: #ffffff;
  }
  
  .progress__bg {
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.4);
    color: #000;
    background-color: #f1f1f1;
    height: 5px;
  }
  
  .progress-container {
    text-align: center;
    font-weight: bold;
    height: 5px;
    color: #fff;
  }
  
  .progress__blue {
    background-color: #3f51b5;
  }
  
  .progress-content {
    display: none;
    position: absolute;
    font-weight: bolder;
    left: 45%
  }
  
  .course__container:hover .progress-content {
    display: block;
  }
  
  .course__container:hover .progress-container {
    height: 17px;
  }
  
  .course__container:hover .progress__bg {
    height: 17px;
  }