<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex" fxHide.xs>

    <ul fxLayout fxLayoutGap="50px" class="navigation-items">
      <li *ngIf="!isAuth">
        <a routerLink="/">LOGO</a>
      </li>
      <li *ngIf="isAuth">
        <a routerLink="/dashboard">LOGO</a>
      </li>
      <li *ngIf="isAuth">
        <a routerLink="/add_course" class="navbar-header__logout">Add Course</a>
      </li>
    </ul>
  </div>

  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="100px" class="navigation-items">
      <li *ngIf="isAuth">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li *ngIf="!isAuth">
        <a routerLink="/signup">Signup</a>
      </li>
      <li *ngIf="!isAuth">
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="isAuth">
        <a (click)="onLogout()" class="navbar-header__logout">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
