<div class="playlist__container">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let item of playList" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item.folderName}}
        </mat-panel-title>
        <mat-panel-description>
          {{item.fileContent.length}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ul class="playlist__items" *ngFor="let file of item.fileContent">
        <li class="playlist__item" (click)="play(file.fileLocation)">
          {{file.fileName}}
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>
