<div class="playlist__container">
  <mat-accordion>
    <mat-expansion-panel [expanded]="step === playListIndex" (opened)="setStep(playListIndex)" *ngFor="let item of playList;let playListIndex=index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item.folderName}}
        </mat-panel-title>
        <mat-panel-description>
          {{item.fileContent.length}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ul class="playlist__items" *ngFor="let file of item.fileContent;let fileIndex=index">
        <li id="playlistFile_{{playListIndex}}_{{fileIndex}}" class="playlist__item" (click)="play(playListIndex,fileIndex,file.fileLocation)">
          {{file.fileName}}
        </li>
        <span class="playlist__item">
          <button id="btnFileVisited_{{playListIndex}}_{{fileIndex}}" mat-icon-button color="primary" (click)="updateViewStatusOnCurrentVideo(file.played,playListIndex,fileIndex)">
            <mat-icon id="iconVideoViewed" aria-label="viewed this video">
              <span id="iconFileNonVisited_{{playListIndex}}_{{fileIndex}}" class="removePostBlink">visibility_off</span>
            </mat-icon>
          </button>
        </span>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>
