
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
 * Basics Styles
 */
html {
  font-size: 62.5%;
}

body {
  background-color: #eee;
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 1.6;
  color: #666;
}

a {
  text-decoration: none;
  color: #3498db;
}

a:hover {
  color: #2980b9;
}

h2 {
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

.wrapper {
  max-width: 300px;
  min-height: 300px;
  padding-left: 1em;
  padding-right: 1em;
  flex-wrap: wrap;
  margin-left: 50px;
}

/**
 * Helpers
 */
.border-tlr-radius {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.text-center {
  text-align: center;
}

.radius {
  border-radius: 2px;
}

.padding-tb {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.shadowDepth0 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.shadowDepth1 {
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
    &:hover {
      box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24),
      0 1px 2px rgba(0, 0, 0, 0.36),
      0 1px 2px rgba(0, 0, 0, 0.48);
    }
}

.card {
  background-color: #fff;
  margin-bottom: 1.6rem;
  cursor: pointer;
  height: 322px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 270px;
  transition: 0.2s ease-in-out;
  #progressbar {
    background-color: #eee;
    display: flex;
    position: relative;
  }

  #progressbar>div {
    background-color: #ec5252;
    height: 5px;
  }

  #progressbar>span {
    position: absolute;
    left: 45%;
    top: -25%;
    visibility: hidden;
    font-weight: bolder;
    font-family: serif;
    color: black;
  }
  &:hover {
    transform: scale(1.02);
    #progressbar>div {
      background-color: #ec5252;
      height: 15px;
    }
    #progressbar>span {
      visibility: visible;
    }
  }
}

.card__padding {
  padding: 1.6rem;
}

.card__image {
  min-height: 100px;
  background-color: #eee;
}

.card__image img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.card__content {
  position: relative;
}

/* card meta */
.card__meta time {
  font-size: 1.5rem;
  color: #bbb;
  margin-left: 0.8rem;
}

/* card article */
.card__article a {
  text-decoration: none;
  color: #444;
  transition: all 0.5s ease;
}

.card__article a:hover {
  color: #2980b9;
}

/* card action */
.card__action {
  overflow: hidden;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  padding-bottom: 1.6rem;
}


.card__author img,
.card__author-content {
  display: inline-block;
  vertical-align: middle;
}

.card__author img {
  border-radius: 50%;
  margin-right: 0.6em;
}


