<mat-card class="course">
  <mat-card-header>
    <div mat-card-avatar class="course-header__avatar" id="course-avatar_{{course._id}}">
      <ng-container *ngIf="isLocalImage(course.avatar)">
        <img mat-card-avatar src="{{course.avatar}}" alt="thumbnail">
      </ng-container>
    </div>
    <div class="course__details">
      <mat-card-title id="course-title_{{course._id}}">{{course.title}}</mat-card-title>
      <mat-card-subtitle id="course-subtitle_{{course._id}}">{{course.subtitle}}</mat-card-subtitle>
      <mat-card-subtitle>&nbsp;</mat-card-subtitle>
    </div>
    <button mat-icon-button class="course__more" [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{id: course._id }">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <div class="course__thumbnail">
      <button mat-icon-button color="primary" class="course__playbtn" (click)="playCourse(course._id)">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <img id="course-thumbnail_{{course._id}}" mat-card-image class="course__thumbnail-img" src="{{course.thumbnail}}" alt="thumbnail">
    </div>
    <p class="course__description" id="course-description_{{course._id}}">
      {{course.description}}
    </p>
  </mat-card-content>
</mat-card>
