.course {
  max-width: 300px;
  min-height: 344px;
  max-height: 344px;
  overflow: hidden;
}

.course__more {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
  border-radius: 10%;
}

.course__more:hover,
.course__more:active {
  background: rgba(140, 240, 243, 0.5);
}

.course-header__avatar {
  background-size: cover;
}

.course__details {
  min-height: 100px;
  max-height: 100px;
}

.course__thumbnail {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 195px;
}

.course__thumbnail:after {
  content: '';
  position: absolute;
  width: calc(100%);
  height: calc(50%);
  top: 7.7rem;
  left: 0%;
  background-color: rgba(255, 0, 0, 0);
  transition: 1s all;
}

.course__thumbnail-img {
  margin-bottom: 0;
}

.course__playbtn {
  display: none;
  position: absolute;
  top: 52%;
  bottom: 2%;
  left: 43%;
  right: 50%;
  transform: scale(3);
  background-color: rgba(0, 0, 0, 0.801);
  color: white;
}

.course__thumbnail:hover .course__playbtn {
  display: block;
  z-index: 1000;
}

.course__thumbnail:hover:after {
  background-color: rgba(0, 0, 0, 0.3);
}

.course__description {
  margin-top: 5px;
}

@media (max-width: 538px) {
  .course__thumbnail:after {
    height: calc(47%);
    top: 7.6rem;
  }
  .course__playbtn {
    top: 48%;
  }
}

@media (max-width: 370px) {
  .course__thumbnail:after {
    height: calc(41%);
    top: 8.7rem;
  }
  .course__playbtn {
    top: 48%;
  }
}
