.course__container {
  margin: 10px 15px;
  display: inline-block;
  vertical-align:top;
}

.mat-menu-primary:hover {
  background: #3f51b5;
  color: #ffffff;
}
.mat-menu-danger:hover {
  background: red;
  color: #ffffff;
}
