<div class="dashboard__container">
  <mat-menu #appMenu="matMenu" class="my-menu">
    <ng-template matMenuContent let-id="id">
      <button class="mat-menu-primary" mat-menu-item (click)="editCourse(id)">Edit Course</button>
      <button class="mat-menu-danger" mat-menu-item color="accent" (click)="removeCourse(id)">Remove Course</button>
    </ng-template>
  </mat-menu>
  <div *ngFor="let courseData of dashboardData" class="course__container">
    <app-course [course]="courseData" [appMenu]="appMenu"></app-course>
  </div>
</div>
