/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html,
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    margin: 0;
}

/*adding below setting to make the nice scroll bars visually */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #cecece;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3f51b5;
}