<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" class="signup-container" fxLayoutGap="20px" #f="ngForm" (ngSubmit)="onSubmit(f)"> 
    <mat-form-field>
      <input 
        type="email" 
        matInput placeholder="Enter your email" 
        ngModel 
        name="email"
        email required
        #emailInput="ngModel">
        <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty!</mat-error>
        <mat-error *ngIf="!emailInput.hasError('required')">E-mail is invalid!</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Should be at least 6 characters long.">
      <input 
        type="password" 
        matInput 
        placeholder="Enter your password" 
        ngModel 
        name="password"
        required
        minlength="6"
        #pwInput="ngModel">
        <mat-hint align="end">{{pwInput.value?.length}} / 6</mat-hint>
        <mat-error>Password should be at least 6 characters long!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
        type="text" 
        matInput
        placeholder="Enter your date of birth"
        [matDatepicker]="dobpicker" 
        [max]="maxDate"
        ngModel
        name="dob"
        required>
        <mat-datepicker-toggle matSuffix [for]="dobpicker"></mat-datepicker-toggle>
        <mat-datepicker #dobpicker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox class="terms__"ngModel name="agree" required color="primary">Agree to Terms and Conditions.</mat-checkbox>
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
  </form>
</section>